# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
db.sqlite3
.env
media/

# --- NODE / REACT ---
node_modules/
frontend/node_modules/
build/
.DS_Store

# --- IDE SETTINGS ---
.vscode/
.idea/